<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netHttpBinding>
                <binding name="NetHttpBinding_IChat1">
                    <webSocketSettings transportUsage="Always" />
                </binding>
                <binding name="NetHttpBinding_IChat">
                    <webSocketSettings transportUsage="Always" />
                </binding>
            </netHttpBinding>
        </bindings>
        <client>
            <endpoint address="ws://192.168.0.104:8731/" binding="netHttpBinding"
                bindingConfiguration="NetHttpBinding_IChat1" contract="ChatService.IChat"
                name="NetHttpBinding_IChat" />
        </client>
    </system.serviceModel>
</configuration>