<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <system.serviceModel>
      <bindings>
        <netHttpBinding>
          <binding name="NetHttpBinding_IChat1">
            <webSocketSettings transportUsage="Always" />
            <reliableSession inactivityTimeout="01:00:00"/>
          </binding>
        </netHttpBinding>
      </bindings>
      <client>
        <endpoint address="ws://192.168.0.104:8731/" binding="netHttpBinding"
          bindingConfiguration="NetHttpBinding_IChat1" contract="ChatService.IChat"
          name="NetHttpBinding_IChat" />
      </client>
      <behaviors>
        <serviceBehaviors>
          <behavior name="mexBehavior">
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service name="ChatApp.Chat" behaviorConfiguration="mexBehavior">
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="http://192.168.0.104:8733/" />
            </baseAddresses>
          </host>
        </service>
      </services>
    </system.serviceModel>

</configuration>