<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <system.serviceModel>
      <bindings>
        <netHttpBinding>
          <binding name="NetHttpBinding_IChat" 
                   closeTimeout="01:00:00" 
                   openTimeout="01:00:00" 
                   receiveTimeout="01:00:00" 
                   sendTimeout="01:00:00">
            <webSocketSettings transportUsage="Always" />
          </binding>
        </netHttpBinding>
      </bindings>
      <client>
        <endpoint address="ws://localhost:8733/" binding="netHttpBinding"
          bindingConfiguration="NetHttpBinding_IChat" contract="ChatService.IChat"
          name="NetHttpBinding_IChat" />
      </client>
      <behaviors>
        <serviceBehaviors>
          <behavior name="mexBehavior">
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service name="ChatApp.Chat" behaviorConfiguration="mexBehavior">
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
          <endpoint address="" binding="netHttpBinding" bindingConfiguration="NetHttpBinding_IChat" contract="ChatApp.IChat"/>
          <host>
            <baseAddresses>
              <add baseAddress="http://25.117.161.49:8733/" />
            </baseAddresses>
          </host>
        </service>
      </services>
    </system.serviceModel>

</configuration>