<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="NetTcpBinding_IChat">
            <security>
              <transport sslProtocols="None" />
            </security>
          </binding>
        </netTcpBinding>
      </bindings>
      <client>
        <endpoint address="net.tcp://localhost:8730/" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IChat" contract="ChatService.IChat"
          name="NetTcpBinding_IChat">
          <identity>
            <userPrincipalName value="LOCALHOST\sA1mon" />
          </identity>
        </endpoint>
      </client>
      <behaviors>
        <serviceBehaviors>
          <behavior name="mexBehavior">
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service name="ChatApp.Chat" behaviorConfiguration="mexBehavior">
          <endpoint address="" binding="netTcpBinding" contract="ChatApp.IChat" />
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8733/" />
              <add baseAddress="net.tcp://localhost:8730/" />
            </baseAddresses>
          </host>
        </service>
      </services>
    </system.serviceModel>

</configuration>